.admin-wrapper {
	.left-sidebar {
		flex: 2;
		height: 100%;
		background: #595959;
		ul {
			list-style: none;
			margin: 0px;
			padding: 0px;
			color: aliceblue;
			li {
				a {
					padding: 18px;
					display: block;
					border-bottom: 1px solid #1abc9c;
					&:hover {
						background: #1abc9c;
					}
				}
			}
		}
	}
}
