* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', cursive;
}
html {
	height: 100%;
	padding: 0px;
	margin: 0px;
	background: #f6f6f6;
}
body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	background: #f6f6f6;
}
.admin-wrapper {
	display: flex;
	height: calc(100% - 66px);
	.admin-content {
		flex: 8;
		height: 100%;
		padding: 40px 100px 100px;
		overflow-y: scroll;
	}
}
.admin-content {
	.page-title {
		text-align: center;
		margin-bottom: 1.5rem;
	}
}
.content {
	width: 90%;
	margin: 30px auto 30px;
}
h1 {
	color: #5c5b5b;
	margin: 5px;
}
h2 {
	color: #5c5b5b;
	margin: 5px;
}
h3 {
	color: #5c5b5b;
	margin: 5px;
}
h4 {
	color: #5c5b5b;
	margin: 5px;
}
h5 {
	color: #5c5b5b;
	margin: 5px;
}
h6 {
	color: #5c5b5b;
	margin: 5px;
}
a {
	text-decoration: none;
	color: inherit;
}
.clearfix {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}
.btn {
	padding: .5rem 1rem;
	background: #006669;
	color: white;
	border: 1px solid transparent;
	border-radius: .25rem;
	font-size: 1.08em;
	&:hover {
		color: white !important;
		background: #005255;
	}
}
.btn-big {
	padding: .7rem 1.3rem;
	line-height: 1.3rem;
}
.text-input {
	padding: .7rem 1rem;
	display: block;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	outline: none;
	color: #444;
	line-height: 1.5rem;
	font-size: 1.2em;
}
table {
	width: 100%;
	border-collapse: collapse;
	font-size: 1.1rem;
}
th {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #d3d3d3;
}
td {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #d3d3d3;
}
.edit {
	color: green;
	&:hover {
		text-decoration: underline;
	}
}
.delete {
	color: red;
	&:hover {
		text-decoration: underline;
	}
}
.publish {
	color: blue;
	&:hover {
		text-decoration: underline;
	}
}
form {
	div {
		margin-bottom: 15px;
	}
}
.msg {
	width: 100%;
	margin: 5px auto;
	padding: 8px;
	border-radius: 5px;
	list-style: none;
}
.success {
	color: #3a6e3a;
	border: 1px solid #3a6e3a;
	background: #bcf5bc;
}
.error {
	color: #884b4b;
	border: 1px solid #884b4b;
	background: #f5bcbc;
}
