*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: #ccc;
}

.page-wrapper {
    min-height: 100%;
  }
  
  .page-wrapper a:hover {
    color: #006669;
  }


  /*content*/
  .content {
    width: 90%;
    margin: 30px auto 30px;
  }
  
  .content .main-content {
    width: 70%;
    float: left;
  }
  
  .content .main-content.single {
    background: white;
    padding: 20px 50px;
    font-size: 1.1em;
    border-radius: 5px;
  }
  
  .content .main-content.single .post-title {
    text-align: center;
    margin-bottom: 40px;
  }

  .content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
  }
  
  .content .popular .post {
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    padding-top: 10px;
  }
  
  .content .popular .post img {
    height: 60px;
    width: 75px;
    float: left;
    margin-right: 10px;
  }
  
  .content .main-content .post .post-preview i {
    color: #757575;
    font-size: .8em;
  }
  
  .content .main-content .post .preview-text {
    line-height: 1.5em;
    font-size: 1.03em;
    color: #444;
  }

  .content .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #006669;
    background: transparent;
    border-radius: 0px;
    color: #006669 !important;
  }
  
  .content .main-content .post .read-more:hover {
    background: #006669;
    color: white !important;
    transition: .25s;
  }
  
  .content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .content .main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
  }
  
  .content .main-content .recent-post-title {
    margin: 20px;
  }

  
  a {
    text-decoration: none;
    color: inherit;
  }

  #more{
    display: none;
}










// section {
//     float: left;
//     width: 800PX;
//     padding-bottom: 1.5em;
// }

// table {
//     border: 1px solid black;
//     border-collapse: collapse;
// }
// td, th {
//     border: 1px dashed black;
//     padding: .2em .5em .2em .5em;
//     vertical-align: top;
//     text-align: left;
// }
// form {
//     margin: 0;
// }
// br {
//     clear: left;
// }
// /* the styles for classes */
// .right {
//     text-align: right;
// }
// .last_paragraph {
// 	margin-bottom: 2em;	
// }
// .margin_top_increase {
// 	margin-top: 1em;	
// }

// /********************************************************************
// * Additional styles for the record Manager application
// ********************************************************************/
// #add_record_form {
//     margin: .5em 0 1em;
// }
// #add_record_form label {
//     width: 6em;
//     padding-right: 1em;
//     padding-bottom: .5em;
//     float: left;
// }
// #add_record_form input {
//     float: left;
// }
// #add_record_form input[text] {
//     width: 15em;
// }