.admin-wrapper .left-sidebar {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 100%;
  background: #234a57;
}

.admin-wrapper .left-sidebar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: aliceblue;
}

.admin-wrapper .left-sidebar ul li a {
  padding: 18px;
  display: block;
  border-bottom: 1px solid #004044;
}

.admin-wrapper .left-sidebar ul li a:hover {
  background: #004044;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

html {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
}

.admin-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 66px);
}

.admin-wrapper .admin-content {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  height: 100%;
  padding: 40px 100px 100px;
  overflow-y: scroll;
}

.admin-content .page-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.content {
  width: 90%;
  margin: 30px auto 30px;
}

h1 {
  color: #5c5b5b;
  margin: 5px;
}

h2 {
  color: #5c5b5b;
  margin: 5px;
}

h3 {
  color: #5c5b5b;
  margin: 5px;
}

h4 {
  color: #5c5b5b;
  margin: 5px;
}

h5 {
  color: #5c5b5b;
  margin: 5px;
}

h6 {
  color: #5c5b5b;
  margin: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.btn {
  padding: .5rem 1rem;
  background: #006669;
  color: white;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: 1.08em;
}

.btn:hover {
  color: white !important;
  background: #005255;
}

.btn-big {
  padding: .7rem 1.3rem;
  line-height: 1.3rem;
}

.text-input {
  padding: .7rem 1rem;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  outline: none;
  color: #444;
  line-height: 1.5rem;
  font-size: 1.2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
}

th {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #d3d3d3;
}

td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #d3d3d3;
}

.edit {
  color: green;
}

.edit:hover {
  text-decoration: underline;
}

.delete {
  color: red;
}

.delete:hover {
  text-decoration: underline;
}

.publish {
  color: blue;
}

.publish:hover {
  text-decoration: underline;
}

form div {
  margin-bottom: 15px;
}

.msg {
  width: 100%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 5px;
  list-style: none;
}

.success {
  color: #3a6e3a;
  border: 1px solid #3a6e3a;
  background: #bcf5bc;
}

.error {
  color: #884b4b;
  border: 1px solid #884b4b;
  background: #f5bcbc;
}

.nav-container {
  width: 100%;
  background-color: #F2A7CA;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr auto 1fr;
      grid-template-columns: 0.2fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

#navbar-logo {
  color: var(--white);
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  -ms-grid-column-align: end;
      justify-self: end;
}

.nav-links {
  color: var(--white);
  text-decoration: none;
}

.nav-links:hover {
  color: var(--brownThree);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.nav-links-btn {
  background-color: var(--brownThree);
  padding: 6px 16px;
  border-radius: 4px;
}

.nav-links-btn:hover {
  background-color: transparent;
  color: var(--white);
  padding: 5px 15px;
  border-radius: 4px;
  border: solid 1px var(--brownThree);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: var(--white);
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #d5d6d6;
  margin-left: 55em;
}

header ul li {
  float: left;
  position: relative;
}

header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
  display: none;
  z-index: 88888;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 10px;
  background: white;
  color: #444;
}

header ul li ul li a:hover {
  background: #d5d6d6;
}

header ul li ul li a.logout {
  color: red;
}

header ul li:hover ul {
  display: block;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background: #006669;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .menu-toggle {
  display: none;
}
/*# sourceMappingURL=adminCSS.css.map */